body{
    background: #4aaaa5;
    /* background-image: url(https://www.google.com/url?sa=i&source=images&cd=&cad=rja&uact=8&ved=2ahUKEwj37NXwhPHnAhWGhJ4KHZXjBXEQjRx6BAgBEAQ&url=https%3A%2F%2Fpixabay.com%2Fimages%2Fsearch%2Fbackground%2F&psig=AOvVaw3m0cC03qVQV176gjRDbuyd&ust=1582869054686069); */
}

h1{
    text-align: center;
}

.container {
    margin: 0 auto;
    text-align: center;
    background-color: white;
    height: 600px;
    width: 500px;
}

#firstname{
    margin-top: 20px;
}

textarea{
    margin: 0 auto;
}

.portfolio{
    text-align: center;
}